<?xml version="1.0" encoding="UTF-8"?>
<Applications>
	<Application name="eracom" type="1" ver="1.0">
		<algorithm name="encrypt">
			<param name="slotId" datatype="int" type="const" exist="true">1</param>
			<param name="pin" datatype="char" type="const" exist="true">9999</param>
			<param name="keyindex" datatype="char" type="lv" exist="true">
				<lv length="4"></lv>
			</param>
			<param name="libobj" datatype="char" type="lv" exist="false">
				<lv length="4"></lv>
			</param>
			<param name="mech" datatype="int" type="lv" exist="true">
				<lv length="4"></lv>
			</param>
			<param name="in" datatype="char" type="lv" exist="true">
				<lv length="4"></lv>
			</param>
			<param name="inlen" datatype="int" type="lv" exist="true">
				<lv length="4"></lv>
			</param>
			<param name="out" datatype="char" type="lv" exist="true">
				<lv length="4"></lv>
			</param>
			<param name="iv" datatype="char" type="const" exist="true">0000000000000000</param>
		</algorithm>
	</Application>
</Applications>
