.progressWrapper {
	width: 95%;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

.progressName {
	font-size: 12px;
	font-weight: bold;
	color: #555555;
	width: 95%;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,.progressBarComplete,.progressBarError {
	font-size: 0px;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 98%;
	font-size: 9pt;
	font-family: Verdana;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel,a.progressCancel:link,a.progressCancel:active,a.progressCancel:visited,a.progressCancel:hover
	{
	font-size: 0px;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}